html, body {
	width: 100%;
	height: 100.1%;
	background: #333 url(../images/bg.png);
	color: #eee;
}

a {text-decoration: none; color: #7B9AAE;}
a:hover {text-decoration: underline;}

#doc .cnt,
#doc #bd,
#doc #ft {
	width: 950px;
	margin: 0 auto;		
}

#doc #hd {
	background: #222 url(../images/static.png);
	border-bottom: solid 2px #444;
	margin-bottom: 30px;

}


#doc #hd a.logo {
	color: #ccc;
	font-family: "Stardos Stencil";
	text-decoration: none;
	font-size: 45px;
	font-weight: bold;
}

#doc #hd a.logo strong { color: #7B9AAE; font-weight: bold; padding-right: 3px; text-shadow: #000 1px 1px; }
#doc #hd a.logo em { color: #888;  padding-left: 3px; text-shadow: #000 1px 1px; }

#doc #hd .cnt {
	padding: 15px 0;	

}


#doc #bd {
	min-height: 300px;
}

#doc #bd .mast {

}

#doc #bd h1,
#doc #bd h2,
#doc #bd h3 {
	font-family: "Stardos Stencil";
	font-size: 30px;
	color: #888;	
	text-shadow: #000 1px 1px;
}

#doc #bd h3 { font-size: 20px; }

#doc #ft {
	border-top: solid 3px #333;
	margin-top: 50px;
	clear: both;
	padding: 20px;
}

#ft .copy {
	position: relative;
	float: right;	
	font-size: 12px;
	color: #444;
	text-shadow: #222 1px 1px;
}

#ft .copy a {color: #444;}

#ft ul li {
	float: left;
	width: 150px;
	font-size: 12px;
}

#ft ul li strong {
	color: #888;
	font-weight: bold;
	display: block;
	padding-bottom: 2px;
}

#ft ul li ul li {
	float: none;
	padding: 1px 2px;
}

#ft ul li ul li a { color: #555; }
#ft ul li ul li a:hover {color: #999;}


/* forms */
form {
	margin: 20px 0 0;
}

form fieldset {
	background: #333;
	padding: 15px;
	margin-top: 5px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: inset 0 0 8px #111;	
	-moz-box-shadow: inset 0 0 8px #111;
	-webkit-box-shadow: inset 0 0 8px #111;
}	
	

form fieldset legend {
	display: none;
	position: relative;
}

form fieldset label {
	display: block;
	clear: left;
	padding: 5px 5px 10px;
	width: 70%;
	float: left;
}

form fieldset label em {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #888;
	margin-bottom: 2px;
}

form fieldset label input {
	padding: 5px;
	width: 95%;
	background: #ccc;
	border: solid 1px #888;
}

form fieldset button {
	margin-top: 20px;
}


/* feaures */
ul.features {
	color: #ccc;
	font-size: 14px;
	text-shadow: #000 1px 1px;
	margin: 10px 0 20px;
}

ul.features li {
	list-style: disc;
	padding: 5px 0;
	margin-left: 20px;
}

ul.features li em { color: #999;}


code.example {
	margin-top: 5px;
	display: block;
	background: #333;
	padding: 10px 15px;
	color: #888;
	text-shadow: #000 1px 1px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: inset 0 0 8px #111;	
	-moz-box-shadow: inset 0 0 8px #111;
	-webkit-box-shadow: inset 0 0 8px #111;
}

code.example p {
	padding: 5px 0;
}

/* mod */
.mod {
	margin: 20px 0;
	border-radius: 5px;
	box-shadow: 0 0 5px #000;
}

.mod .hd {
	background: #222 url(../images/static.png);
	padding: 5px 10px;
	border-bottom: solid 2px #000;
	border-radius: 5px 5px 0 0;
}

.mod .bd {
	background: #eee url(../images/static.png);	
	border-radius: 0 0 5px 5px;
	color: #555;
}

.main .mod {
	margin-right: 20px;
}

/* table */
table {
	width: 100%;
}

table th {
	background: #222;
	padding: 5px 10px;
	font-weight: bold;
	color: #888;
}

table td {
	padding: 10px;
	border-bottom: solid 1px #ccc;

	
}

table tr:last-child td {
	border-bottom: none;
}

table td.path {
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	padding: 5px 10px;
	color: #999;
}

table td.path a {color: #777; }

    .button
    {        
        display: inline-block;
        white-space: nowrap;
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        border: 1px solid #777;
        padding: 0 1.5em;
        font: bold 1em/2em Arial, Helvetica;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    }
    
    .button:hover
    {
        background-color: #eee;        
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
    }
    
    .button:active
    {
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
    }
    
    .button:focus
    {
        outline: 0;
        background: #fafafa;
    }    
    
    .button:before
    {
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;        
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -moz-border-radius: .15em 0 0 .15em;
        -webkit-border-radius: .15em 0 0 .15em;
        border-radius: .15em 0 0 .15em;        
    }

	button.button, input.button 
	{ 
		cursor: pointer;
		overflow: visible;
	}
	
	button::-moz-focus-inner {
	  border: 0;
	  padding: 0;
	}
	
	 input::-moz-focus-inner {
	  padding: .4em;
	}
 
	.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
		background: #eee;
		color: #aaa;
		border-color: #aaa;
		cursor: default;
		text-shadow: none;
		position: static;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;		
	}
    
    /* Hexadecimal entities for the icons */    
	.add:before { content: "\271A"; }  
	.edit:before { content: "\270E"; }  
	.delete:before { content: "\2718"; }  
	.save:before { content: "\2714"; }  
	.email:before { content: "\2709"; }  
	.like:before { content: "\2764"; }  
	.next:before { content: "\279C"; }  
	.star:before { content: "\2605"; }  
	.spark:before { content: "\2737"; }  
	.play:before { content: "\25B6"; }

table.highlighttable {
	border: solid 1px #ccc;
	background: #fff;
}

table.highlighttable td {
	padding: 5px;
}

table.highlighttable td.linenos {
	text-align: right;
	border-right: solid 1px #ccc;
	background: #eee;
	width: 10px;
}

table.highlighttable td.linenos div {
	min-width: 10px;
	max-width: 50px;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #bb8844 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #999999 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #bb8844 } /* Literal.String.Backtick */
.highlight .sc { color: #bb8844 } /* Literal.String.Char */
.highlight .sd { color: #bb8844 } /* Literal.String.Doc */
.highlight .s2 { color: #bb8844 } /* Literal.String.Double */
.highlight .se { color: #bb8844 } /* Literal.String.Escape */
.highlight .sh { color: #bb8844 } /* Literal.String.Heredoc */
.highlight .si { color: #bb8844 } /* Literal.String.Interpol */
.highlight .sx { color: #bb8844 } /* Literal.String.Other */
.highlight .sr { color: #808000 } /* Literal.String.Regex */
.highlight .s1 { color: #D14 } /* Literal.String.Single */
.highlight .ss { color: #bb8844 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

#bd:after,
#ft:after {content:'.';visibility:hidden;clear:left;height:0;display:block}
